<div id="page_wrapper">
	<div id="profile_image">
		No image
	</div>

	<div id="content">
		<h1>Hey, I'm Ashwani</h1>
		<p>I am a Undergraduate student at NSIT DELHI </p>
		<p>Pursuing my B.E in Computer Engineering</p>
		<p>My interest lies in Programming,Studying about random things,Chess,Cricket,Table tennis,Volleyball,Sleeping :)</p>
	</div>
</div>
